.fit-trace-login{
    /* margin-top: 60px;
    margin-left: 80%;
    color: black; */
    margin-top: 80px;
    font-size:38px;
    color: #000110;
    position: absolute;
    right: 50px;
    width: 200px;
    height: 0px;
}